body {
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,0.87);
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.fit {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1200px;
  margin: auto;
}

main {
  @extend .fit;
  padding-top: 105px;
  padding-bottom: 50px;
}
