{% extends 'layout.html.twig' %}

{% block title %}404 :: {{ parent() }}{% endblock %}

{% block main %}
  <h1>404 NOT FOUND</h1>

  <p><a href="{{ path('home') }}">-> Go back to home page</a></p>
{% endblock %}
