{% extends 'layout.html.twig' %}

{% block title %}List of matches{% endblock %}

{% block main %}
  <div id="matches">
    <section>
      <img src="http://www.smcaen.fr/sites/all/themes/bootstrap_cins/images/logo_smc_conquerants.png" alt="" />
    </section>
    <section>
      <h2>Matches</h2>

      <h6>Select a match to display sentimental analysis</h6>
      <div class="matches">
        {% for match in matches %}
        <a href="{{ path('sentiments', {date: match.date}) }}" class="match">
          <div class="date">{{ match.date }}</div>
          <div class="title">Caen vs {{ match.team }}</div>
          <div class="count" title>({{ match.nbMessages }})</div>
        </a>
        {% endfor %}

      </div>
    </section>
  </div>
{% endblock %}
