{% extends 'layout.html.twig' %}

{% block title %}Search :: {{ parent() }}{% endblock %}

{% block main %}
  <h2>Search</h2>

  <section>
    <p>Here you can seach for matches' sentimental analysis.</p>
    <form>
      <fieldset>
        <label for="match">Select a match</label>
        <select id="match">
          <option selected disabled></option>
          {% for match in matches %}
            <option value="{{ match.date }}">{{ match.date}} - Caen vs {{ match. }}</option>
          {% endfor %}
        </select>
        <input class="button-primary" type="submit" value="Search">
      </fieldset>
    </form>
  </section>
{% endblock %}
